
.page-header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);


}

.contacts-list {
        display: flex;
        align-items: center;
        gap: 40px;
}

/* main section */

/* BANEFITS */

.main-section-banefits {
        padding-top: 120px;
        padding-bottom: 120px;    
}

.main-list-banefits {
        align-items: flex-start;
        display: flex;
        gap: 24px;  
}

.main-item-banefits {  
        width: calc((100% - 72px) / 4);
}


.main-title-banefits {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.main-article-banefits {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.banefits-icon {
        align-items: center;
        justify-content: center;
        display: flex;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
}



/* TEAM */

/* portfolio */



/* .overlay-text {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                transition: transform 250ms ease-in-out;
                padding: 8px;
                background-color: #3f51b5;
                color: #fff;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #f4f4fd;
                padding: 40px 32px;
                background-color: #4d5ae5;
                transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li:hover p {
        transform: translateY(0%);
}



.main-item-portfolio:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.main-item-portfolio {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-overlay-bxox {
        position: relative;
        overflow: hidden;  
}
    

.portfolio-card-div {
        border: 1px solid #e7e9fc;
        padding: 32px 16px;
        border-top: none;   
}

.main-section-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
}

.main-list-portfolio {
        gap: 24px;
        row-gap: 48px;
        display: flex;
        flex-wrap: wrap;
}



.main-text-portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.12;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.main-title-portfolio {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.main-article-portfolio {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
} */

/* FOTTER */


.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
        display: inline-block;
        margin-bottom: 16px;
}

.footer-logo .logo-part {    
        margin-bottom: 16px;
        color: #f4f4fd;
}

.footer-article {
        max-width: 264px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.fotter-container {
        display: flex;
        align-items: baseline;
}

.fotter-icons-studio {
        margin-right: 120px;
}

.fotter-title {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.fotter-icons-list {    
        display: flex;
        gap: 16px;     
}

.fotter-icons-list .icon-footer-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fotter-icons-list .icon-footer-link:hover {
        background-color: #31d0aa;
}

.fotter-icons-list .icon-footer-link:focus {
        background-color: #31d0aa;
}



.fotter-article-form {
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        margin-left: 80px;
}

.footer-input {
        border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        padding-left: 16px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        color: #ffffff;
}

.footer-input::placeholder {
        color: #ffffff;
}

.footer-btn-form {
        justify-content: center;
        flex-direction: row;
        gap: 16px;
        border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
        
        
}

.footer-form {
        display: flex;
        gap: 24px;
        margin-left: 80px;
}

.icon-footer-btn {
        margin-left: 16px;
        fill: #fff;   
}

.footer-label-form {
        display: flex;
}

/* MODALka*/

.backdrop {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
     
}

.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
        transform:translate(-50%, -50%), scale(1.5);
}

.modal {
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        width: 408px;
        min-height: 584px;
        border-radius: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
}

.label-input-div {
        margin-bottom: 24px;
        margin-left: 24px;
}

.modal-label-input {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
}

.modal-btn {
        cursor: pointer;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;
        padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
}

.modal-btn:hover {
        background-color: #404bbf;
        border: none;
}

.modal-btn:focus {
        background-color: #404bbf;
        border: none;
}

.modal-btn:focus .icon-modal-btn{
        fill: #ffffff;
}
.modal-article {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-top: 72px;
        margin-bottom: 16px;
}

.icon-modal-btn {  
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #2e2f42;
}

.icon-modal-btn:hover  {
        fill: #ffffff;
}

.icon-modal-btn:focus {
        fill: #ffffff;
}

.modal-input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-right: 24px;
        background-color: transparent;
        padding-left: 38px;

}


.modal-input:hover {
        border: 1px solid #4d5ae5;
}

.modal-input:hover + .icon-modal-input {
        fill: #4d5ae5;
}

.modal-input:focus {
        border: 1px solid #4d5ae5;
}

.modal-input:focus + .icon-modal-input {
        fill: #4d5ae5;
}

.label-input-div {
        margin-bottom: 8px;
        position: relative;
}

.icon-modal-input {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: absolute;
        fill: #2e2f42;
        left: 16px;
        bottom: 11px;
        top: 50%;
        transform: translateY(-50%);
}

.modal-textarea {
        width: 100%;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        padding: 8px 16px;
        height: 120px;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        resize: none;
}

.label-input-textarea {
        margin-bottom: 16px
}

.modal-textarea::placeholder {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.7;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.modal-textarea:focus {
        border-color: #4D5AE5;
}

.modal-btn-bottom {
        margin-top: 24px;
        margin-bottom: 24px;
        display: block;
        border-radius: 4px;
        text-align: center;
        background-color: #4D5AE5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        min-width: 169px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-bottom:hover,
.modal-btn-bottom:focus {
        background-color: #404BBF;
}


.terms-article {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #8e8f99;
        align-items: center;
        gap: 8px;
        line-height: 1.17;
}



.terms-article span{
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        display: inline-flex;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-chek:checked + .terms-article span {
        border: none;
        background-color: #404bbf;
        fill: #f4f4fd;
}


.link-check-article {
        line-height: 1.3;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.label-input-chek {
        margin-bottom: 24px;
}

.input-svg {
        position: relative;
}